.containerwork {
  margin-top: -20px;
  margin-bottom: -30px;
  display: flex;
  background-color: #efefef;
  justify-content: center;
  padding: 20px;
}

  .containerwork .item {
    position: relative;
    margin: 5PX;
  }
  
  .containerwork .item img {
    height: 100%;
    border-radius: 0
    ;
    width: 600px; /* ajuste conforme necessário */
  }
  .containerwork .text-overlay h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
  }

  .itensoverlay{
    justify-content: left;
    display: flex;
  }
 
  .containerwork .text-overlay {
    justify-content: end;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 400px;
    font-weight: bold;
    /* bottom: 0px; */
    text-align: left;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}
 
  .division img{
    width: 100%;
  }
  .cubos img {
    height: 200px;
    position: absolute;
    z-index: 2;
  }
  #cubo1{
    padding-top: -20;
    height: 300px;
    right: 0;
  }
  #cubo2{
    padding-top: -20;
    height: 300px;
    left: 0;
  }

  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .button::before,
  .button::after {
    content: '';
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #ffffff;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    cursor: pointer;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    cursor: pointer;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  .button i{
    font-size: 25px;
    color: #11ff1d;
    margin-left: 15px;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
    cursor: pointer;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    cursor: pointer;
    background-color: #3cc7fa;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    cursor: pointer;
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  
  .containerwork .overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(119, 64, 182, 0.822);
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s, height 0.5s; /* Adicionada transição para altura */
    height: 0; /* Começa com altura zero */
  }
  .itensoverlay{
    justify-content: left;
    display: flex;
  }
  .containerwork .item:hover .overlay1 {
    cursor: pointer;
    opacity: 1; /* Torna visível apenas no hover */
    height: 100%; /* Expande para cobrir a imagem */
  }
  
.containerwork .text-overlay {
    justify-content: end;
    position: absolute;
    top: 60%;
    left: 35%;
    width: 400px;
    font-weight: bold;
    /* bottom: 0px; */
    text-align: left;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}
  .containerwork .overlay1 p,
.containerwork .overlay1 button {
    justify-content: end;
    position: absolute;
    top: 83%;
    left: 20%;
    font-weight: bold;
    /* bottom: 0px; */
    text-align: left;
    transform: translate(-50%, -50%);
    color: white;
}

.containerwork .overlay1 p {
  margin-bottom: 20px; /* Espaçamento inferior para o botão */
}
  
  .cotacao-div{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
  }
  .cotacao-div p{
    font-size: 25px;
  }
  .cotacao-div .cotacao {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 2px;
    color: #050505;
    width: 250px;
    font-size: 17px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
}
.cotacao:hover{
  background-color: #19dfff;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s;
  transform:none;
}
.complex-container {
  display: flex;
  margin-top: -5px;
  max-width: 100%;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intricate-left-section, .elaborate-right-section {
    padding: 20px;
}

.intricate-left-section {
  width: 500px;
}

.intricate-left-section h1 {
    margin: 0;
    margin-top: 50px;
    font-size: 44px;
}

.intricate-left-section hr {
    margin: 10px 0;
    width: 50%;
    color: #19dfff;
    border-color: #19dfff;
    border: 3px solid;
    background-color: #19dfff;
}

.intricate-left-section p {
    margin: 30px 0;
}

.cta-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

.elaborate-right-section {
  
    position: relative;
}

.advanced-slider {
  position: relative;
  overflow: hidden;
  width: 700px; /* Ajuste à largura da sua imagem */
  height: 700px; /* Ajuste à altura da sua imagem */
}

.advanced-slider {
  position: relative;
  overflow: hidden;
  width: 700px; /* Largura do slider */
  height: 700px; /* Altura do slider */
}

.detailed-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.detailed-slides img {
  flex-shrink: 0; /* Evita que as imagens sejam reduzidas */
  width: 700px; /* Largura da imagem */
  height: 700px; /* Altura da imagem */
}

.prev-arrow, .next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

.prev-arrow, .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #efefef;
  margin-bottom: 20px;
  box-shadow: 10px 0 00px rgba(0, 0, 0, 0.1);
}
.header-text h1 {
  font-weight: 999;
    margin: 0;
    color: #000000;
}

.header-cta-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-cta-button:hover {
    background-color: #0056b3;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  animation: marquee 500s linear infinite;
  font-size: 5rem; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  -webkit-text-stroke: 3px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  0.1% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.video-section2 {
  position: relative;
  width: 100%;
  margin-top: -5px;
  height: 900px; /* Ajuste a altura conforme necessário */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-section2 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.video-section2 h1 {
  color: white;
  font-size: 3em;
  text-align: center;
}

.video-section2 p {
  color: white;
  margin-top: -20px;
  font-size: 30px;
  text-align: center;
}

.video-section2 .center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

